body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.header-section{
    display: flex;
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
}

.content-area{
    width: 48%;
    margin-right: 2%;
}

.content-area h1{
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

.text-color{
    color: #eb8612;
}

.img-area{
    width: 48%;
    margin-left: 2%;
}

.img-area img{
    width: 80%;
    height: 100%;
}

.btn{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(salmon,tomato);
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    border-radius: 4px;
}

.dream-section{
    display: flex;
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 100px;
}

.experience-area{
    background-image: url('images/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left center;
    margin-top: 100px;
}

.wrap{
    display: flex;
}

.experience-area h1{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
}

.full-stack-developer{
    width: 40%;
    margin-left: 5%;
    box-shadow: 10px 10px 40px gray;
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

.baby-web-developer{ 
    width: 40%;
    margin-left: 5%;
    box-shadow: 10px 10px 40px gray;
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}

.full-stack-developer h2{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    padding-left: 10px;
}

.full-stack-developer p{
    padding-left: 10px;
}

.baby-web-developer h2{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    padding-left: 10px;
}

.baby-web-developer P{
    padding-left: 10px;
}

.full-stack-developer h3,
.baby-web-developer h3{
    padding-left: 10px;
}

footer{
    margin-top: 100px;
}

footer p{
    text-align: center;
}



